.footer-section {
    margin-top: 1em;
    background-color: black;
    padding: 1.5em;
    color: silver;
}

.footer-section a { 
    color:silver;
}

.footer-section a:hover { 
    color:white;    
}

